<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.towelove.core.mapper.LoveListMapper">

    <resultMap type="com.towelove.core.domain.lovelist.LoveList" id="LoveListResult">
        <id property="id" column="id"/>
        <result property="loveAlbumId" column="love_album_id"/>
        <result property="title" column="title"/>
        <result property="done" column="done"/>
        <result property="photo" column="photo"/>
        <result property="finishTime" column="finish_time"/>
        <result property="deleted" column="deleted"/>
    </resultMap>
    <sql id="allFields">id, love_album_id, title, done, photo, finish_time, deleted</sql>

    <update id="cancel">
        update love_list set done = '0' where id = #{loveListId}
    </update>
</mapper>

