<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.towelove.core.mapper.LovePostOfficeMapper">
    <resultMap type="com.towelove.core.domain.lovepostoffice.LovePostOffice"
               id="LovePostOfficeResult">
        <id property="id" column="id"/>
        <result property="receiverId" column="receiver_id"/>
        <result property="senderId" column="sender_id"/>
        <result property="senderName" column="sender_name"/>
        <result property="content" column="content"/>
        <result property="sendTime" column="send_time"/>
        <result property="isRead" column="is_read"/>
        <result property="deleted" column="deleted"/>
    </resultMap>

    <update id="readBatch" parameterType="java.util.List">
        update love_post_office
        set is_read = 1
        where id in (
        <foreach collection="list" item="id" index="index" separator=",">
            id
        </foreach>
        )
    </update>
</mapper>

