<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.towelove.system.mapper.mail.MailTemplateMapper">

    <resultMap type="com.towelove.system.domain.mail.MailTemplateDO"
               id="MailTemplateResult">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="code" column="code"/>
        <result property="accountId" column="account_id"/>
        <result property="nickname" column="nickname"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="params" column="params" javaType="java.util.List"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleted" column="deleted"/>
    </resultMap>

    <!--根据分页条件和邮件模版表信息查询邮件模版表数据-->
    <select id="selectList" resultMap="MailTemplateResult">
        select
          id, name, code, account_id, nickname, title, content,
          params, status, remark, create_by, create_time, update_by, update_time, deleted
        from sys_mail_template
    </select>



</mapper>

