<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="blossom.project.towelove.loves.mapper.DiariesMapper">

    <select id="findQuickWriteCollection" resultType="long">
        select
            id
        from
            love_diary_collection
        where
            user_id = #{userId} and title = #{title}
    </select>
</mapper>
