<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="blossom.project.towelove.loves.mapper.LoveDiaryMapper">
    <resultMap id="diaryTitleDTO" type="blossom.project.towelove.common.response.love.diary.DiaryTitleDTO">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="getDiaryByCollectionId" resultMap="diaryTitleDTO" parameterType="long">
        SELECT
            `id`,`title`,`update_time`
        FROM
            love_diary
        WHERE
            `diary_collection_id` = #{collectionId} and deleted = 0
    </select>


    <select id="getDiaryBySynchronous" parameterType="long" resultType="blossom.project.towelove.common.response.love.diary.DiaryTitleDTO">
        select `id`,
               `title`,
               `update_time`
        FROM love_diary
        where
            `couple_id` = #{coupleId} and `synchronous` = 1 and `deleted` = 0
    </select>

</mapper>
