<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blossom.project.towelove.loves.mapper.LoveSubAlbumMapper">
    <!-- 结果集 -->
<!--    <resultMap type="blossom.project.towelove.loves.entity.LoveSubAlbum" id="LoveSubAlbumMap">-->
<!--        <result property="id" column="id" jdbcType=""/>-->
<!--        <result property="loveAlbumId" column="love_album_id" jdbcType=""/>-->
<!--        <result property="title" column="title" jdbcType=""/>-->
<!--        <result property="urlDescMap" column="url_desc_map" jdbcType=""/>-->
<!--        <result property="viewsNumber" column="views_number" jdbcType=""/>-->
<!--        <result property="canSee" column="can_see" jdbcType=""/>-->
<!--        <result property="likesNumber" column="likes_number" jdbcType=""/>-->
<!--        <result property="status" column="status" jdbcType=""/>-->
<!--        <result property="createTime" column="create_time" jdbcType=""/>-->
<!--        <result property="createBy" column="create_by" jdbcType=""/>-->
<!--        <result property="updateTime" column="update_time" jdbcType=""/>-->
<!--        <result property="updateBy" column="update_by" jdbcType=""/>-->
<!--        <result property="deleted" column="deleted" jdbcType=""/>-->
<!--        <result property="remark" column="remark" jdbcType=""/>-->
<!--    </resultMap>-->
    
    <!-- 基本字段 -->
    <sql id="Base_Column_List">
        #allSqlColumn()
    </sql>
    
</mapper>


