<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blossom.project.towelove.loves.mapper.TodoListMapper">

    <resultMap id="BaseResultMap" type="blossom.project.towelove.loves.entity.TodoList">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="deadline" column="deadline" jdbcType="DATE"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="completionStatus" column="completion_status" jdbcType="TINYINT"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="reminder" column="reminder" jdbcType="BOOLEAN"/>
        <result property="widget" column="widget" jdbcType="BOOLEAN"/>
        <result property="completionDate" column="completion_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,user_id,
        title,description,deadline,
        completion_status,completion_date,create_by,
        create_time,update_by,update_time,
        deleted,remark
    </sql>


    <select id="selectAllByCoupleId" resultType="blossom.project.towelove.loves.entity.TodoList">
        SELECT `id`,
               `title`,
               `description`,
               `deadline`,
               `widget`,
               `reminder`,
               `completion_date`,
               `status`
        FROM todo_list
        WHERE `couple_id` = #{coupleId}
          AND `deleted` = 0
        ORDER BY `status` ASC LIMIT 10;


    </select>

    <select id="selectWidgetCounts" resultType="java.lang.Integer">
        select count(1) from todo_list
        where `couple_id` = #{coupleId} and `widget` = 1 and `deleted` = 0`
    </select>
</mapper>
