<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blossom.project.towelove.community.mapper.PostTagsMapper">
    <!-- 结果集 -->
    <resultMap type="blossom.project.towelove.community.entity.PostTags" id="PostTagsMap">
        <result property="postId" column="post_id" jdbcType="BIGINT"/>
        <result property="tagsContent" column="tags_content" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 基本字段 -->
    <sql id="Base_Column_List">
        #allSqlColumn
        ()
    </sql>

</mapper>




