<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blossom.project.towelove.community.mapper.UserActionsMapper">
    <!-- 结果集 -->
    <resultMap type="blossom.project.towelove.community.entity.UserActions" id="UserActionsMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="postId" column="post_id" jdbcType="BIGINT"/>
        <result property="actionType" column="action_type"
                typeHandler="org.apache.ibatis.type.EnumTypeHandler"
                javaType="blossom.project.towelove.community.enums.ActionType"/>
        <result property="actionTime" column="action_time" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>
    
    <!-- 基本字段 -->
    <sql id="Base_Column_List">
        #allSqlColumn()
    </sql>
    
</mapper>




