<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blossom.project.towelove.community.mapper.UserBehaviorsMapper">

    <!-- 基本结果映射 -->
    <resultMap id="BaseResultMap" type="blossom.project.towelove.community.entity.UserBehaviors">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="post_id" property="postId"/>
        <result column="behavior_type" property="behaviorType"/>
        <result column="tag_list" property="tagList"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- 插入用户行为 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_behaviors (user_id, post_id, behavior_type, tag_list, create_time)
        VALUES (
                #{userId},
                #{postId},
                #{behaviorType},
                #{tagList,
                typeHandler=com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler},
                #{createTime}
               )
    </insert>

    <!-- 根据用户ID查询行为 -->
    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT * FROM user_behaviors WHERE user_id = #{userId}
    </select>

</mapper>
