<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.towelove.msg.task.mapper.MsgTaskMapper"><!--使用对应的mapper接口-->
    <!--使用SQL语句标签-->
    <select id="selectAfterTenMinJob" resultType="com.towelove.msg.task.domain.MsgTask">
        SELECT id,user_id,account_id,template_id,receive_account,nickname,title,content,
               send_time,params
        FROM msg_task WHERE deleted=0 AND status = 0 AND (send_time BETWEEN #{beginTime} AND #{endTime})
    </select>
</mapper>