<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="blossom.project.towelove.user.mapper.CouplesMapper">
    <select id="selectAllByBoyIdAndGirlIdLongs" resultType="long">
        SELECT couples.id
        FROM couples
        WHERE boy_id = #{boyId}
        UNION
        SELECT couples.id
        FROM couples
        WHERE girl_id = #{girlId};

    </select>
</mapper>